<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <style>
        body{
            background-color: black;
            color: white;
            font-size: large;
            text-align: center;
        }
        
        nav a{
            color: white;
            text-decoration: none;
            cursor: pointer;
            padding: 10px;
            margin: 10px;
        }
        h1{
            color: white;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/specifictask">Specific Task</a>
        <a href="/alltasks">All Tasks</a>
    </nav>

    <h1>Task submitted successfully</h1>
    
</body>
</html>